<header class="top-area">
    <div class="header-area">
        <!-- Start Navigation -->
        <nav class="navbar navbar-default bootsnav navbar-fixed dark no-background">

            <div class="container">

                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" routerLink="">reabank</a>
                </div><!--/.navbar-header-->
                <!-- End Header Navigation -->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse menu-ui-design" id="navbar-menu">
                    <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                        <li class=" smooth-menu active"></li>
                        <li *ngIf="!isLoggedIn" class=" smooth-menu"><a href="#about">Hakkımızda</a></li>
                        <li *ngIf="!isLoggedIn" class=" smooth-menu"><a href="#profiles">referanslar</a></li>
                        <li *ngIf="!isLoggedIn" class=" smooth-menu"><a routerLink="/sign">Giriş/Kayıt Ol</a></li>
                        <li *ngIf="!isLoggedIn" class=" smooth-menu"><a routerLink="/contact">İletişim</a></li>

                        <li *ngIf="isLoggedIn && currentUser?.userType===0" class=" smooth-menu"><a
                                routerLink="/admin">Dashboard</a></li>
                        <li *ngIf="isLoggedIn && currentUser?.userType===1" class=" smooth-menu"><a
                                routerLink="/user">Dashboard</a></li>
                        <li *ngIf="isLoggedIn && currentUser?.userType===2" class=" smooth-menu"><a
                                routerLink="/employee">Dashboard</a></li>
                        <li *ngIf="isLoggedIn" class="nav-item">
                            <a class="nav-link mx-2" (click)="logOut()" routerLink="/anasayfa">Çıkış Yap</a>
                        </li>
                    </ul><!--/.nav -->
                </div><!-- /.navbar-collapse -->
            </div><!--/.container-->
        </nav><!--/nav-->
        <!-- End Navigation -->
    </div><!--/.header-area-->

    <div class="clearfix"></div>

</header><!-- /.top-area-->