<div *ngIf="accounts" class="container"
    style="position:absolute; width: 30%; top: 20%; left: 30%; transform: translate(-50%, -50%); margin-top: 50px; margin-left:100px;">

    <table class="table ">
        <thead>
            <tr>
                <th>Bakiye</th>
                <th>Ad Soyad</th>
                <th>Hesap No</th>
                


            </tr>
        </thead>
        <tbody>
            <!-- Kullanıcıları döngüye alıyoruz -->
            <tr *ngFor="let acc of accounts">               
                <td>{{ acc.balance }}₺</td>    
                <td>{{ acc.user?.firstName}} {{ acc.user?.lastName}} </td>                 
                <td>{{ acc.id}} </td>                 
                

            </tr>
        </tbody>
    </table>
   <button class="btn btn-danger" (click)="addAccount()">Hesap ekle</button>
</div>

