<app-navbar></app-navbar>
<section id="contact" class="container contact">
    <div class="section-heading text-center">
        <h2>contact me</h2>
    </div>
    <div class="container">
        <div class="contact-content">
            <div class="row">
                <div class="col-md-offset-1 col-md-5 col-sm-6">
                    <div class="single-contact-box">
                        <div class="contact-form">
                            <form>
                                <div class="row">
                                    <div class="col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="name" [(ngModel)]="name"
                                                name="name" placeholder="İsim" required>
                                        </div><!--/.form-group-->
                                    </div><!--/.col-->
                                    <div class="col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="surname" [(ngModel)]="surname"
                                                name="surname" placeholder="Soyisim" required>
                                        </div><!--/.form-group-->
                                    </div><!--/.col-->
                                </div><!--/.row-->
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <input class="form-control" type="email" id="email" [(ngModel)]="email"
                                                name="email" placeholder="Email" required>
                                        </div><!--/.form-group-->
                                    </div><!--/.col-->
                                </div><!--/.row-->
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <textarea class="form-control" id="message" [(ngModel)]="mailMessage"
                                                name="message" required placeholder="Message"></textarea>
                                        </div><!--/.form-group-->
                                    </div><!--/.col-->
                                </div><!--/.row-->
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="single-contact-btn" style="background-color: #d42932;">
                                            <a class="contact-btn" (click)="sendEmail()" role="button">submit</a>
                                        </div><!--/.single-single-contact-btn-->
                                    </div><!--/.col-->
                                </div><!--/.row-->
                            </form><!--/form-->
                        </div><!--/.contact-form-->
                    </div><!--/.single-contact-box-->
                </div><!--/.col-->
                <div class="col-md-offset-1 col-md-5 col-sm-6">
                    <div class="single-contact-box">
                        <div class="contact-adress">
                            <div class="contact-add-head">
                                <h3>furkan aydın</h3>
                            </div>
                            <div class="contact-add-info">
                                <div class="single-contact-add-info">
                                    <h3>phone</h3>
                                    <p>+90 531 702 9136</p>
                                </div>
                                <div class="single-contact-add-info">
                                    <h3>email</h3>
                                    <p>frknydn22@icloud.com</p>
                                </div>
                            </div>
                        </div><!--/.contact-adress-->
                        <div class="hm-foot-icon">
                            <ul>

                                <li><a href="https://www.linkedin.com/in/furkan-ayd%C4%B1n-2306a5187/"><i
                                            class="fa fa-linkedin"></i></a></li><!--/li-->

                            </ul><!--/ul-->
                        </div><!--/.hm-foot-icon-->
                    </div><!--/.single-contact-box-->
                </div><!--/.col-->
            </div><!--/.row-->
        </div><!--/.contact-content-->
    </div><!--/.container-->

</section>
<app-footer></app-footer>