<footer id="footer-copyright" class="footer-copyright">
    <div class="container">
        <div class="hm-footer-copyright text-center">
            <p>
                &copy; copyright Furkan Aydın. design and developed by <a href="https://www.linkedin.com/in/furkan-ayd%C4%B1n-2306a5187/">Furkan Aydın</a>
            </p><!--/p-->
        </div><!--/.text-center-->
    </div><!--/.container-->

    <div id="scroll-Top">
        <div class="return-to-top">
            <i class="fa fa-angle-up " id="scroll-top" ></i>
        </div>
        
    </div><!--/.scroll-Top-->
    
</footer>